*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    height: 100vh;
    flex-direction: column;
    background: hsl(217, 54%, 11%);
}

.container {
    background: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 300px;
    padding: 1.2em 1.3em;
    border-radius: 1em;
}

.container .img {
   width: 260px;
   height: 230px;
}

.img img {
    width: 100%;
    height: 100%;
    border-radius: .3em;
}

.img img:hover {
    background: hsl(178, 100%, 50%);

}

.container h2 {
    font-size: 1.2em;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    align-self: flex-start;
    padding: 1.1em 0;
}

.container h2:hover{
    color: hsl(178, 100%, 50%);
}

.container .p {
    font-size: 1em;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    padding-bottom: 1.2em;
}

.container .money-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 300;
    gap: 70px;
    padding-bottom: 1.2em;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.money-time .money{
    color: hsl(178, 100%, 50%);
    display: flex;
    justify-content: space-between;
    gap: 7px;

}

.money-time .time {
    color: hsl(215, 51%, 70%);
    display: flex;
    justify-content: space-between;
    gap: 7px;

}

.container .footer {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    gap: 13px;
    padding-top: 1em;
}

.footer .foot {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 5px;
    color: hsl(215, 51%, 70%);
    font-size: .8em;
    font-weight: 400;
    padding: 1em 0 1em;
}

.footer img {
    width: 40px;
    height: 40px;
}

.foot span {
    color: hsl(0, 0%, 100%);
}

.foot span:hover {
    color: hsl(178, 100%, 50%);   
}